/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
};

/ {
    macros {
        panethesis_with_semicolon: panethesis_with_semicolon {
            compatible = "zmk,behavior-macro";
            label = "PANETHESIS_WITH_SEMICOLON";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp SEMI>;
        };
    };

    combos {
        compatible = "zmk,combos";

        debugging {
            bindings = <&mo 3>;
            key-positions = <37 40>;
            timeout-ms = <200>;
        };

        management {
            bindings = <&mo 8>;
            key-positions = <37 40 25 34>;
        };
    };

    behaviors {
        tap_time: tap_time {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_TIME";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        layer_tap_pref_hold: layer_tap_pref_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_PREF_HOLD";
            bindings =
                <&mo>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        tap_hold_pref_hold: tap_hold_pref_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD_PREF_HOLD";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp SINGLE_QUOTE  &kp COMMA       &kp PERIOD   &kp P                               &kp Y        &kp F    &kp G                             &kp C        &kp R       &kp L           &none
&none  &mt LWIN A        &mt LEFT_ALT O  &mt LCTRL E  &mt LEFT_SHIFT U                    &kp I        &kp D    &mt LSHFT H                       &mt LCTRL T  &mt LALT N  &mt LEFT_GUI S  &none
&none  &lt 5 RIGHT_ALT   &kp Q           &kp J        &kp K                               &kp X        &kp B    &kp M                             &kp W        &kp V       &kp Z           &none
                                         &mo 4        &tap_hold_pref_hold LEFT_SHIFT TAB  &kp SPACE    &kp RET  &layer_tap_pref_hold 1 BACKSPACE  &kp LCTRL
            >;
        };

        navigation {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none             &none         &none             &none       &none    &none          &none       &none     &none         &none      &none
&none  &mt LEFT_WIN TAB  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LSHIFT  &none    &kp BACKSPACE  &kp LEFT    &kp DOWN  &kp UP_ARROW  &kp RIGHT  &none
&none  &kp ESC           &none         &none             &mo 2       &none    &none          &kp DELETE  &none     &none         &none      &none
                                       &none             &trans      &none    &none          &trans      &none
            >;
        };

        navigation_upper {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans      &trans         &trans     &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp K_BACK  &kp PAGE_DOWN  &kp PG_UP  &kp K_FORWARD  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans      &trans         &trans     &trans         &trans
                        &trans  &trans  &trans    &trans  &trans      &trans
            >;
        };

        debugging {
            bindings = <
&none  &none    &none        &kp F9   &kp LC(F5)  &kp LC(LS(F5))    &none  &kp PRINTSCREEN  &kp C_PAUSE               &kp C_PLAY                &none          &none
&none  &kp F11  &kp LS(F11)  &kp F10  &kp F5      &none             &none  &kp K_BACK       &kp C_VOLUME_DOWN         &kp C_VOLUME_UP           &kp K_FORWARD  &none
&none  &none    &none        &none    &none       &none             &none  &kp K_MUTE       &kp C_BRIGHTNESS_MINIMUM  &kp C_BRIGHTNESS_MAXIMUM  &none          &none
                             &none    &none       &none             &none  &none            &none
            >;
        };

        specials {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp EXCL            &kp AT              &kp HASH                    &kp DLLR                      &kp PRCNT       &kp CARET  &kp AMPS                   &kp STAR               &panethesis_with_semicolon  &none                   &none
&none  &mt LEFT_WIN TILDE  &mt LEFT_ALT SLASH  &mt LCTRL LEFT_PARENTHESIS  &mt LSHIFT RIGHT_PARENTHESIS  &kp QUESTION    &kp MINUS  &mt LEFT_SHIFT LEFT_BRACE  &mt LCTRL RIGHT_BRACE  &mt LEFT_ALT EQUAL          &mt LEFT_WIN BACKSLASH  &none
&none  &kp SEMICOLON       &kp COLON           &kp LEFT_BRACKET            &kp RIGHT_BRACKET             &kp GRAVE       &kp UNDER  &kp PLUS                   &kp SEMI               &kp PIPE                    &none                   &none
                                               &trans                      &trans                        &trans          &trans     &mo 8                      &trans
            >;
        };

        numbers {
            bindings = <
&trans  &trans    &trans        &trans            &trans      &trans    &kp COMMA   &mt F7 N7              &mt F8 N8  &mt F9 N9  &mt F10 LS(LSHIFT)  &trans
&trans  &kp LWIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LSHIFT  &trans    &kp N0      &mt F4 N4              &mt F5 N5  &mt F6 N6  &mt F11 N0          &trans
&trans  &trans    &trans        &trans            &trans      &trans    &kp PERIOD  &tap_time F1 NUMBER_1  &mt F2 N2  &mt F3 N3  &mt F12 LSHIFT      &trans
                                &trans            &trans      &trans    &trans      &trans                 &trans
            >;
        };

        gaming_base {
            bindings = <
&none  &none      &kp Q  &kp W  &kp E  &kp R        &none      &none  &none  &none  &none  &none
&none  &kp LSHFT  &kp A  &kp S  &kp D  &kp F        &none      &none  &none  &none  &none  &none
&none  &kp LCTRL  &kp Z  &kp X  &kp C  &kp V        &none      &none  &none  &none  &none  &none
                         &none  &mo 7  &kp SPACE    &kp ENTER  &none  &none
            >;
        };

        gaming_upper {
            bindings = <
&trans  &kp LC(F1)  &kp NUMBER_1  &kp N2  &kp NUMBER_3  &kp N4    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(F2)  &trans        &trans  &tog 6        &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans      &trans        &trans  &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                  &trans  &trans        &trans    &trans  &trans  &trans
            >;
        };

        management {
            bindings = <
&none  &none  &none  &none  &none   &none    &bt BT_CLR    &sys_reset    &bootloader   &none         &none         &none
&none  &none  &none  &none  &tog 6  &none    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
&none  &none  &none  &none  &none   &none    &none         &none         &none         &none         &none         &none
                     &none  &none   &none    &none         &none         &none
            >;
        };
    };
};
